.fuente-body{
    font-family: 'Roboto Mono', monospace;}
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagen-slider img {
    width: 1582px;
    height: 400px;
}

.col-sm-7 {
    background-color: #75B39C;
    border-radius: 10px;
    padding: 20px 40px;
}

.card {
    padding: 10px 30px;
}

.btn-toolbar {
    padding: 20px;
}

.comics-box {
    background-color: #04004D;
    border-radius: 10px;
    padding: 20px 40px;
}

.mangas-box {
    background-color: #04004D;
    border-radius: 10px;
    padding: 20px 40px;
}

.comics-sections {
    background-color: #FD5E00;
    border-radius: 10px;
    padding: 20px 40px;
}

.mangas-section {
    background-color: #FD5E00;
    border-radius: 10px;
    padding: 20px 40px;
}

.botones-paginacion {
    display: flex;
    justify-content: center;
}

.class-add {
    padding-top: 35px;
}

.class-search {
    padding-bottom: 20px;
}

.color-footer {
    background-color: #75B39C;
}

.footer-padding {
    padding-top: 15px;
}


/* Navbar */

.color-navbar {
    background: #F9F8EB;
}


/* Main */

.color-main {
    background: #FD5F00;
}


/* admin: */

.contenedor-admin {
    background: #05004E;
    height: 100vh;
}

.text-pay {
    color: #F9F8EB;
}


/* Usuario */

.color-tablas-usuario {
    background: #F9F8EB;
}
/* carrito */
.margen-carrito{
    margin-top: 77px;
}
.margen-carrusel-galeria{
    margin-top: 80px;
}
.prueba-margen{
    margin-top: 300px;
}

/* Comics */

.margen-comics {
    margin-top: 150px;
}


/* Usuario */

.margen-usuario {
    margin-top: 150px;
}

.pagina404 {
    background-image: url(https://dinahosting.com/blog/cont/uploads/2020/07/eror-404.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Css de ultimas tendencias */

.prueba {
    background: #FD5F00;
}

.prueban {
    background: #F9F8EB;
    background-color: #FD5F00;
}


/* colección */

.active-filter-btn {
    background-color: var(--pink)!important;
    color: #fff!important;
    border-color: var(--pink)!important;
}



.collection-img span {
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}


/* button */

.btnok {
    background-color: var(--pink)!important;
}

.btnok:not(.nav-btns button) {
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}

.btnok:not(.nav-btns button):hover {
    background-color: red;
    color: #fff;
    border-color: var(--pink);
}


/* titulo */

.title h2::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* especial */

.special-img span {
    top: 20px;
    right: 20px;
}

.special-list .btn {
    padding: 8px 20px!important;
}

.special-img img {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.special-img:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}


/* offers */

.container-23 {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

p {
    margin: 0;
}

.container-23>* {
    flex: 1;
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 .3rem #ccc;
    min-width: 14rem;
}


/* -- */

.prueba {
    background: #FD5F00;
}


/* colección */

.active-filter-btn {
    background-color: var(--pink)!important;
    color: #fff!important;
    border-color: var(--pink)!important;
}



.collection-img span {
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}


/* boton */

.btnok {
    background-color: var(--pink)!important;
}

.btnok:not(.nav-btns button) {
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}

.btnok:not(.nav-btns button):hover {
    background-color: red;
    color: #fff;
    border-color: var(--pink);
}


/* titulo */

.title h2::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* especial */

.special-img span {
    top: 20px;
    right: 20px;
}

.special-list .btn {
    padding: 8px 20px!important;
}

.special-img img {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.special-img:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}


/* offers */

.container-23 {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

p {
    margin: 0;
}

.container-23>* {
    flex: 1;
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 .3rem #ccc;
    min-width: 14rem;
}


/* navbar principal */


/* Navbar */

.color-navbar {
    background: #F9F8EB;
}

.color-footer {
    background-color: #75B39C;
}



.fondo-body {
    background-color: rgb(253, 95, 0);
}

.boton-enviar {
    background-color: rgb(118, 179, 157);
}

.d-flex-justify-content-evely {
    justify-content: space-evenly;
}



.fondo-contacto {
    background-color: rgb(253, 95, 0);
}

.img-class {
    width: 100%;
    padding: 10%;
}

.adnosotros {
    background-color: rgb(118, 179, 157);
}



.SobreNosotros {
   
        background-color: #F9F8EB;

    
}
/* Sobre nosotros */
.margen-nosotros{
    margin-top: 100px;
}

/* Index */

.margenCarrusel {
    margin-top: 76px;
}
.estilo-items{
    text-decoration: none;
}
.estilo-Items{
    list-style: none;
}


/* Login */
.color-login{
    background: #F9F8EB;
}
.margen-login{
    margin-left: 50px;
    margin-right: 50px;
}
.color-botones{
    background: #05004E;
}
.color-textobotones{
    color: #F9F8EB;
}
.color-textoModal{
    color:#05004E;
}

@media (max-width: 425px) {
    .class-add {
        display: none;
    }
}
